@use '../util' as *;
// https://codepen.io/SaraSoueidan/pen/jpBbrq/?editors=1100

.toggle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  gap: rem(5);
  border: none;
  margin: 0;
  
  label{
    display: inline-block;
    font-size: rem(14);
    font-weight: 700;
    color: var(--toggle);
    
    &[for='dark']{
      line-height: rem(24)
    }
  };

  &__wrapper{
    display: flex;
    flex-direction: row;
    position: relative;
    height: rem(24);
    width: rem(52);
  }

  input[type='radio']{
    opacity: 0;
    width: rem(24);
    height: rem(24);
    margin: 0 rem(-2) 0 rem(-2);
    cursor: pointer;

    &:focus ~ .toggle__button{
      border: 2px solid white;    
    }

    ~ #system{
      margin-left: rem(2);
    }

    ~ #light{
      margin-left: rem(2);
    }
  }

  &__background{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: rem(12);
    overflow: hidden;
    background: var(--toggle-bg);
    pointer-events: none;
    //Makes radio inputs clickable
  };
  

  &__button{
    position: absolute;
    left: rem(3);
    top: rem(3);
    right: 100%;
    width: rem(18);
    height: rem(18);
    border-radius: 50%;
    background-color: var(--toggle-button);
    transition: all 150ms ease-in-out;
  };

  #dark:checked ~ .toggle__button{
    left: calc(20% - 8px);
    right: 3px;
  }

  #system:checked ~ .toggle__button{
    left: calc(70% - 20px);
    right: 3px;
  }

  #light:checked ~ .toggle__button{
    left: calc(100% - 21px);
    right: 3px;
  }
}